body{
  margin: 0;
  padding: 0;
  font-size: 1.235rem;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 3.5rem;
  margin: 5px 0px;
}
p{
  margin: 2em 0px;
}
span{
  color: chocolate;
}
.first-container{
  display: flex;
  margin: 4em 0;
}
.container{
  width: 50%;
  margin-left: 8%;
}
.container img{
  width: 80%;
  height: 450px;
}
.first-container-para{
  margin-bottom: 3em;
}
.link-btn{
  text-decoration: none;
  background-color: orangered;
  padding: .5em 1em;
  border-radius: 25px;
  color: white;
  margin-top: 2em;
}
.second-container{
  display: flex;
  padding: 2em;
  background-image: url(../images/top-banner.png);
  background-repeat: no-repeat;
}

.recipie-box{
  display: flex;
  justify-content: center;
}
.recipies{
  width: 35%;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: 2px 2px 15px black;
  border-radius: 20px;
}
.recipies img{
  width: 100%;
  border-radius: 10px;
}
.recipies-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipies-title h2{
  margin: 5px 0px;
}
.recipies-title p{
  width: 700px;
  text-align: center;
}
.last-container{
  display: flex;
  justify-content: center;
  margin: 4em 5em;
  box-shadow: 2px 2px 15px black;
  border-radius: 10px;
  padding: 2em;
}
.fam-box{
  margin: 0px 5em;
  text-align: center;
}
.fam-box p{
  margin: 2px 0px;
}
.fam-box h2{
  margin: 5px;
}